@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'poppins';
}
:root{
    --clr: #2C363F;
}
body{
    background: var(--clr);
}
header{
    position: fixed;
    top:0;
    background: #2196f3;
    padding: 10px 50px;
}