@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'poppins';
}
:root{
    --clr: #2C363F;
}
body{
    background: var(--clr);
}
header{
    position: fixed;
    top:0;
    background: #2196f3;
    padding: 10px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
header .logo{
    position: relative;
    text-decoration: none;
    font-size: 2em;
    font-weight: 600;
    color: #fff;
}
header nav{
    display: flex;
    gap: 10px;
}
header nav a{
    position: relative;
    text-decoration: none;
    padding: 12px 20px;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: 400;
}
header nav #indicator{
    position: absolute;
    width: 88px;
    height: 58px;
    background: var(--clr);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.5s;
}
header nav #indicator::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--clr);
}
header nav #indicator::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-bottom-left-radius: 20px;
    box-shadow: -5px 5px 0 5px var(--clr);
}