*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #000;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    cursor: pointer;
    z-index: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.menu span{
    position: absolute;
    width: 30px;
    height: 2px;
    background: #262626;
    display: block;
    top: calc(50% - 1px);
    left: calc(50% - 15px);
    transition: .3s;
}
.menu span:nth-child(1){
    transform: translateY(-10px);
}
.menu span:nth-child(3){
    transform: translateY(10px);
}
.menu.active span:nth-child(1){
    transform: translateY(0px) rotate(-45deg);
}
.menu.active span:nth-child(3){
    transform: translateY(0px) rotate(45deg);
}
.menu.active span:nth-child(2){
    transform: translateX(-30px);
    opacity: 0;
}
.menu-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    transition: .5s;
    transform: translateX(-100%);
}
.menu-bar.active{
    transform: translateX(0);
}
.menu-bar ul{
    display: flex;
    float: right;
}
.menu-bar ul li{
    list-style: none;
}
.menu-bar ul li a{
    line-height: 60px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #262626;
    text-decoration: none;
    padding: 0 20px;
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.menu-bar ul li:last-child a{
    border-right: none;
}
.menu-bar ul li a:hover{
    background: #262626;
    color: #fff;
}
@media (max-width: 768px){
    .menu-bar{
        height: auto;
    }
    .menu-bar ul{
        display: inherit;
        float: none;
        text-align: center;
        width: 100%;
        height: 100vh;
    }
    .menu-bar ul a{
        border-right: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}