*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: #262626;
}
.container{
   width: 500px;
   height: 300px;
   margin: 150px auto;
}
.glass{
	border-radius: 20px;
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.18);
	border: 1px solid rgba(255,255,255,.1);
	backdrop-filter: blur(10px);
	background: linear-gradient(135deg, rgba(255,255,255,.1),rgba(255, 255, 255, 0));
}