*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #111;
}
.loader{
	position: relative;
	width: 64px;
	height: 64px;
}
.loader svg{
	position: absolute;
	width: 100%;
	height: 100%;
}
.loader svg rect{
	fill: none;
	width: 64px;
	height: 64px;
	stroke-width: 10px;
	stroke: #21f357;
}