@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif ;
}
:root{
    --size:300px;
}
body{
    background: #2f363e;
}
.container{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    padding: 50px;
}
.container .notes{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: flex-start;
    align-items: flex-start;
}
.container .notes .note{
    position: relative;
    width: var(--size);
    height: var(--size);
    background: #f7e98d;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
    transition: 0.3s ease-in-out;
    padding: 20px;
}
.container .notes .note::before{
    content: 'Double Click to Remove This Note';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0.85em;
    background:rgba(0,0,0,0.15) ;
    padding: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}
.container .notes .note:hover::before{
    opacity: 1;
}
#create{
    position: relative;
    width: var(--size);
    height: var(--size);
    background: rgba(255,255,255,0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    cursor: pointer;
}
#create i{
    position: absolute;
    color: #fff;
}
.createBox{
    position: relative;
    width: var(--size);
    height: var(--size);
    z-index: 10;
    display: none;
}
.createBox textarea{
    position: absolute;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    padding: 20px;
    outline: none;
    font-size: 0.2em;
    resize: none;
}
.details h3{
    font-family: 'Handlee', cursive;
    user-select: none;
    font-size: 1.45em;
}