*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2f363e;
}
.menu{
	position: relative;
	width: 260px;
	height: 260px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu li{
	position: absolute;
	left: 0;
	list-style: none;
	transform-origin: 130px;
	transition: 0.5s;
	transition-delay: calc(0.1s * var(--i));
	transform: rotate(0deg) translateX(100px);
}
.menu.active li{
	transform: rotate(calc(360deg / 8 * var(--i)));
}
.menu li a{
	width: 60px;
	height: 60px;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border-radius: 50%;
	color: transparent;
	transform: rotate(calc(360deg / -8 * var(--i)));
	transition: 1s;
	transition-delay: 0.5s;
}
.menu.active li a{
	color: var(--clr);
}
.menu li a::before{
	position: absolute;
	content: '';
	width: 20px;
	height: 2px;
	border-radius: 2px;
	background: var(--clr);
	transform: rotate(calc(var(--i) * 90deg)) translate(0,25px);
	transition: height 0.5s, width 0.5s, transform 0.5s;
	transition-delay: 0s, 0s, 0s;
}
.menu.active li a::before{
	width: 60px;
	height: 60px;
	border: 2px solid var(--clr);
	box-sizing: border-box;
	background: #2f363e;
	transform: rotate(calc(var(--i) * 90deg)) translate(0px,0px);
	transition: transform 0.5s, height 0.5s, width 0.5s;
	transition-delay: 1s, 1.5s, 1.5s;
	rotate: 135deg;
}
.menu.active li:hover a::before{
	background: var(--clr);
	color: #2f363e;
	box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 50px var(--clr);
}
.menu li a::after{
	content: '';
	position: absolute;
	left: 50px;
	width: 20px;
	height: 2px;
	background: var(--clr);
	z-index: -1;
	transform: rotate(calc(var(--i) * 0deg)) translate(15px, 0px);
	transition: 0.5s;
	transition-delay: 0.5s;
}
.menu.active li a::after{
	left: 10px;
	width: 40px;
	transform: rotate(calc(var(--i) * 0deg)) translate(50px, 0px);
}
.menu.active li a ion-icon{
	position: relative;
	color: #2f363e;
	z-index: 100;
}
.menuToggle{
	position: absolute;
	width: 60px;
	height: 60px;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	border-radius: 50%;
	cursor: pointer;
	font-size: 2em;
	transition: transform 1.5s;
}
.menu.active .menuToggle{
	transform: rotate(315deg);
}