@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000815;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
}
.container .box{
    position: relative;
    width: 240px;
    height: 320px;
    background: var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 15px #0009, 0 25px 55px var(--clr);
    cursor: pointer;
}
.container .box h2{
    position: relative;
    font-size: 4em;
    line-height: 2.5em;
    color: #020d1e;
    text-align: center;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
    filter: blur(10px);
}
.container .box h2 small{
    font-size: 0.35em;
    font-weight: 500;
    text-transform: uppercase;
}
.container .box:hover h2{
    transform: scale(1);
    transition-delay: 0.5s;
    filter: blur(0px);
}
.container .box ion-icon{
    position: absolute;
    font-size: 4em;
    transition: 0.5s;
    transition-delay: 0s;
    opacity: 0;
    transform: translateY(100px);
}
.container .box:hover ion-icon{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 1s;
}
.container .box .clip{
    position: absolute;
    inset: 20px;
    box-shadow: 0 0 0 18px #020d1e;
}