*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: consolas;
	overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
    overflow: hidden;
}
input[type='checkbox']{
	position: fixed;
	right: 20px;
	top: 20px;
	width: 50px;
	height: 50px;
	z-index: 10;
	cursor: pointer;
	transition: .5s;
    opacity: 0;
}
.icon{
    position: fixed;
	right: 20px;
	top: 20px;
	width: 50px;
	height: 50px;
	z-index: 11;
	background: #000;
	pointer-events: none;
}
.icon::before{
	content: 'close';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
	text-align: center;
	line-height: 50px;
	text-transform: uppercase;
	font-weight: 700;
}
input[type='checkbox']:checked ~ .icon::before{
	content: 'menu';
}
ul{
    position: fixed;
	top: 0;
	left: 0;
	padding: 50px 20px;
	width: 300px;
	height: 100vh;
	background: #000;
	transition: .5s;
	overflow-y: auto;
}
input[type='checkbox']:checked ~ ul{
    left: -300px;
}
ul li{
	list-style: none;
}
ul li a{
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 10px;
	font-size: 24px;
	font-weight: 700;
	transition: .5s;
}
ul li a:hover{
	transform: translateX(10px);
	color: #ff0;
}
section{
	position: relative;
	left: 300px;
	padding: 100px;
	transition: .5s;
	box-sizing: border-box;
}
input[type='checkbox']:checked ~ section{
	left: 0;
}
section h2{
	font-size: 36px;
}
@media (max-width: 767px) {
    ul li{
        width: 100%;
        left: 0;
    }
    input[type='checkbox']{
        z-index: 11;
        outline: none;
        top: 0;
        right: 0;
    }
    input[type='checkbox']:checked ~ ul{
        left: -100%;
    }
    input[type='checkbox'] ~ .icon{
        top: 0;
        right: 0;
        background: #f00;
        transition: .5s;
    }
    input[type='checkbox']:checked ~ .icon{
        background: #000;
    }
}