@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins';
}
.container{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background: #3e393b;
}