@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Poppins';
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #3e393b;
}
#time{
    display: flex;
    gap: 30px;
}
#time .circle{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.25)
}
#time .circle::before{
    content: '';
    position: absolute;
    inset: 0;
    border: 10px solid #1b1a1c;
    border-radius: 50%;
}
#time .circle::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border: 10px solid #1b1a1c;
    border-radius: 50%;
}