@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'poppins';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    gap: 50px;
    flex-direction: column;
}
a{
    position: relative;
    padding: 20px 60px;
    background: rgba(45,45,45,1);
    border-radius: 50px;
    color: #999;
    font-size: 1.5em; 
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
}
a:hover{
    color: var(--clr);
    text-shadow: 0 0 15px var(--clr), 0 0 40px var(--clr);
}
a span{
    position: relative;
    z-index: 1;
    letter-spacing: 0.2em;
}
a::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    background: radial-gradient(var(--clr), transparent, transparent);
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: 0.5s, top 0s, left 0s;
}
a:hover::before{
    opacity: 1;
}
a::after{
    content: '';
    position: absolute;
    background: rgba(45,45,45,0.8);
    border-radius: 48px;
}