@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'poppins';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    gap: 50px;
    flex-direction: column;
}
a{
    position: relative;
    padding: 20px 60px;
    background: rgba(45,45,45,1);
    border-radius: 50px;
    color: #999;
    font-size: 1.5em; 
}