*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    background-color: #0a3c27;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #0d614b;
    padding: 40px 60px;
}
.container h2{
    color: #fff;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.container .reset{
    padding: 15px 20px;
    background: #fff;
    color: #267c65;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transition: all 0.3s ease;
    font-weight: 600;
}
.container .reset:hover, .container .reset:focus{
    background: #267c65;
    color: #fff;
}
.container .game{
    display: flex;
    width: 430px;
    height: 430px;
    transform-style: preserve-3d;
    flex-wrap: wrap;
    gap: 10px;
    perspective: 500px;
}
.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #fff;
    cursor: pointer;
    transform: rotateY(180deg);
    transition: 0.25s;
}
.item.boxOpen{
    transform: rotateY(0deg);
}
.item::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #209d70;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.boxOpen::after,.boxMatch::after{
    transform: rotateY(180deg);
}