*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
.box{
    position: relative;
    width: 400px;
    height: 400px;
    border: 80px solid transparent;
    border-right: 80px solid #fff5;
    border-bottom: 80px solid #fff5;
    border-radius: 50%;
    transform: rotate(45deg);
}
.box::before{
    content: '';
    position: absolute;
    top: 212px;
    left: -34px;
    width: 80px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    transform: rotate(-45deg);
}
.box::after{
    content: '';
    position: absolute;
    top: 212px;
    right: -34px;
    width: 80px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    transform: rotate(-45deg);
}
.circle{
    position: absolute;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 0 5px 20px rgba(0,0,0,0.5);
    z-index: 10;
    animation: animateBall 2s linear infinite;
}
@keyframes animateBall {
    0%,100%{
        transform: rotate(135deg);
    }
    50%{
        transform: rotate(-45deg);
    }
}