*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: consolas;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #eee;
	transition: 0.5s;
}
.aqua{
	position: relative;
	width: 500px;
	padding: 10px;
	border-radius: 50%;
	box-shadow: inset 0 10px 50px rgba(0, 0, 0, 0.075), 0 15px 8px rgba(0, 0, 0, 0.05), 0 10px 15px rgba(0, 0, 0, 0.05), inset 0 -10px 15px rgba(255,255,255,0.9);
	transition: 0.5s;
}
.aqua::after{
	content: '';
	position: absolute;
	top: 8px;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	height: 5px;
	border-radius: 20px;
	background: #fff4;
}
.percentBar{
	position: relative;
	display: block;
	width: 50%;
	height: 10px;
	background: #03a9f4;
	border-radius: 20px;
}
.number{
	position: absolute;
	padding: 10px 15px;
	color: #03a9f4;
	border-radius: 50%;
	box-shadow: inset 0 10px 50px rgba(0, 0, 0, 0.075), 0 15px 8px rgba(0, 0, 0, 0.05), 0 10px 15px rgba(0, 0, 0, 0.05), inset 0 -10px 15px rgba(255,255,255,0.9);
}