@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'poppins';
}
body{
    background-color: #29313a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.inputBox{
    position: relative;
    width: 350px;
}
.inputBox input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #999;
    color: #fff;
    font-size: 1.25em;
    transition: 0.5s;
}
.inputBox label{
    position: absolute;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    color: #666;
    user-select: none;
}
.inputBox label span{
    position: relative;
    display: inline-flex;
}