@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background: #111;
}
.scroll{
    position: relative;
    display: flex;
    width: 700px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(98deg, transparent, #fff 20%, #fff 80%, transparent);
}
.scroll div{
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);
}
@keyframes animate{
    0%{
        transform: translate(100%);
    }
    100%{
        transform: translate(-100%);
    }
}
.scroll div:nth-child(2){
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
}
@keyframes animate2{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-200%);
    }
}
.scroll div span{
    display: inline-flex;
    margin: 10px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;
}
.scroll div span:hover{
    background: #4caf50;
    cursor: pointer;
}