@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'poppins';
}
:root{
    --clr: #39ffe2;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0a1b18;
}
.container{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container::before{
    content: '';
    position: absolute;
    top: 45px;
    width: 30px;
    height: 50px;
    background: #f44648;
    z-index: 100;
    clip-path: polygon(50% 0%, 65% 50%, 50% 100%, 35% 50%);
}
.wheel{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid var(--clr);
    box-shadow: 0 0 10px var(--clr);
    border-radius: 50%;
    transition: transform 5s ease-in-out;
}
.wheel span{
    position: absolute;
    left: calc(50% - 1px);
    width: 2px;
    height: 100%;
    background: var(--clr);
    transform: rotate(calc(45deg * var(--i)));
    filter: drop-shadow(0 0 5px var(--clr));
}
.spinBtn{
    position: absolute;
    inset: 140px;
    background: var(--clr);
    color: #0a1b18;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    filter: drop-shadow(0 0 5px var(--clr));
    user-select: none;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.1em;
}
.number{
    position: absolute;
    inset: 0;
    rotate: 22.5deg;
}
.number b{
    position: absolute;
    inset: 10px;
    transform: rotate(calc(45deg * var(--i)));
    text-align: center;
    color: var(--clr);
    font-size: 2em;
    font-weight: 500;
    filter: drop-shadow(0 0 5px var(--clr));
}
.inner{
    position: absolute;
    width: 260px;
    height: 260px;
    background: #0a1b18;
    border: 3px solid var(--clr);
    transition: transform 10s ease-in-out;
}