*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #222;
}
.navigation{
	position: relative;
	width: 70px;
	height: 70px;
	background: #fff;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
.menuToggle{
	position: absolute;
	bottom: -15px;
	width: 30px;
	height: 15px;
	background: #fff;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menuToggle::before{
	content: '';
	position: absolute;
	top: 0;
	left: -8px;
	width: 10px;
	height: 10px;
	background: transparent;
	border-top-right-radius: 10px;
	box-shadow: 2px -5px 0 2px #fff;
}
.menuToggle::after{
	content: '';
	position: absolute;
	top: 0;
	right: -8px;
	width: 10px;
	height: 10px;
	background: transparent;
	border-top-left-radius: 10px;
	box-shadow: -2px -5px 0 2px #fff;
}
.menuToggle b{
	position: absolute;
	width: 25px;
	height: 25px;
	top: -10px;
	background: transparent;
	z-index: 1;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.menuToggle b::before{
	content: '';
	position: absolute;
	left: 2.75px;
	width: 12px;
	height: 2px;
	background: #333;
	transform: rotate(45deg);
	transition: 0.5s;
	transition-delay: 0.5s;
}
.menuToggle b::after{
	content: '';
	position: absolute;
	right: 2.75px;
	width: 12px;
	height: 2px;
	background: #333;
	transform: rotate(135deg);
	transition: 0.5s;
	transition-delay: 0.5s;
}