*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #222;
}
.navigation{
	position: relative;
	width: 70px;
	height: 70px;
	background: #fff;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
.menuToggle{
	position: absolute;
	bottom: -15px;
	width: 30px;
	height: 15px;
	background: #fff;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menuToggle::before{
	content: '';
	position: absolute;
	top: 0;
	left: -8px;
	width: 10px;
	height: 20px;
	background: transparent;
	border-top-right-radius: 10px;
	box-shadow: 2px -5px 0 2px #fff;
}