@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before{
  content: '';
  position: absolute;
  inset: 0;
  background: url(bg1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}
body::after{
  content: '';
  position: absolute;
  inset: 0;
  background: url(bg2.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: 0.5s;
}
body.signup::after{
  opacity: 1;
}
.container{
  position: relative;
  width: 350px;
  height: 340px;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.25);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  overflow: hidden;
}
body.signup .container{
  height: 440px;
}
.container::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: repeating-conic-gradient(from var(--a), #45f3ff 0%, #45f3ff 10%, transparent 10%, transparent 80%, #45f3ff 100%);
  animation: animate 5s linear infinite;
}
body.signup .container::before{
  filter: hue-rotate(220deg);
}
@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes animate {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}
.container span{
  position: absolute;
  inset: 5px;
  border-radius: 15px;
  overflow: hidden;
}
.container span::before{
  content: '';
  position: absolute;
  inset: 5px;
  background: url(bg1.jpg);background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}
body.signup .container span::before,
body.signup .container span::after{
  background: url(bg2.jpg);background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}
.container span::after{
  content: '';
  position: absolute;
  inset: 5px;
  background: url(bg1.jpg);background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: blur(15px);
}
form{
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  transition: 0.5s;
}
form#signupForm{
  left: 100%;
}
body.signup form#signinForm{
  left: -100%;
}
body.signup form#signupForm{
  left: 0;
}
form h2{
  position: relative;
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}
form .inputBox{
  position: relative;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
form .inputBox a{
  color: #fff;
  text-decoration: none;
  font-size: 0.85em;
}
form .inputBox a:nth-child(2){
  text-decoration: underline;
}
form .inputBox input{
  width: 100%;
  outline: none;
  border: 1px solid rgba(255,255,255,0.25);
  background: rgba(0,0,0,0.15);
  padding: 8px 15px;
  border-radius: 4px;
  font-size: 0.85em;
  color: #fff;
}
form .inputBox input::placeholder{
  color: rgba(255,255,255,0.5);
}
form .inputBox input[type="submit"]{
  background: #2196f3;
  font-weight: 500;
  transition: 0.5s;
  cursor: pointer;
  font-size: 0.9em;
}
form .inputBox input[type="submit"]:hover{
  background: #fff;
  color: #2196f3;
}