body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.cube{
    transform-style: preserve-3d;
    width: 15em;
    height: 15em;
    transform-origin: 7.5em 7.5em;
    transform: rotateX(36deg) rotateY(-135deg);
    position: relative;
    animation: cube 20s linear infinite;
}
@keyframes cube {
    100%{
        transform:rotateX(360deg)
        rotateY(360deg) rotateY(360deg);
    }
}
h1{
    margin: 0;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 5em;
    z-index: -1;
    max-width: 30em;
    text-align: center;
    transform: translate3d(-50%,-50%,7.5em);
    line-height: 1.2;
}
.face{
    background: linear-gradient(0deg, rgba(245,66,114,1),rgba(245,66,114,.5));
    width: 15em;
    height: 15em;
    position: absolute;
    overflow: hidden;
    border: 1px #ccc solid;
    animation: color 10s linear infinite;
}
.face1{
    transform: rotateX(90deg) translate3d(0,7.5em,0);
    transform-origin: bottom;
}
.face2{
    transform: translate3d(0,0,7.5em);
}
.face3{
    transform: rotateY(90deg) translate3d(-7.5em,0,0);
    transform-origin: left;
}
.face4{
    transform: rotateX(-90deg) translate3d(0,-7.5em,0);
    transform-origin: top;
}
.face5{
    transform: rotateY(-90deg) translate3d(7.5em,0,0);
    transform-origin: right;
}
.face6{
    transform: translate3d(0,0,-7.5em);
}
@keyframes color {
    100%{
        filter: hue-rotate(360deg);
    }
}