@import url("https://fonts.googleapis.com/css?family=Popppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
  flex-direction: column;
  gap: 50px;
}
.btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    width: 200px;
    background: #333;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: transform 0.1s;
    border-radius: 40px;
    overflow: hidden;
}
.btn span{
    position: relative;
    pointer-events: none;
    color: rgba(255,255,255,0.25);
    transition: 0.5s;
}
.btn:hover span{
    color: rgba(255,255,255,1);
}
.btn::before{
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background: var(--clr);
    border-radius: 50%;
    transition: 1s, left 0s, top 0s;
}
.btn:hover::before{
    width: 200px;
    height: 200px;
}