@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'poppins';
}
body{
    min-height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar{
    position: relative;
    width: 200px;
    background: #fff;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0004);
}
.calendar #monthName{
    position: relative;
    padding: 5px 10px;
    background: #ff6331;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
.calendar #dayName{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #999;
}
.calendar #dayNumber{
    margin-top: 0px;
    font-size: 80px;
    font-weight: 700;
    color: #333;
    line-height: 1em;
}
.calendar #year{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #999;
}