*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0f222f;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 150px;
}
.container .card{
    position: relative;
    width: 300px;
    height: 300px;
    background: var(--img);
    background-size: 450px;
    background-position: center;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card h2{
    background: #fff;
    color: #0f222f;
    padding: 5px 20px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    box-shadow: 0 5px 25px rgba(0,0,0,0.25);
}