@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'poppins';
}
.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff173;
    transition: .5s;
    padding: 20px;
}
.container .content{
    position: relative;
    max-width: 800px;
}
h2{
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}
.container .content img{
    max-width: 100%;
    display: block;    
}
.container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
a{
    padding: 5px 20px;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: #111;
}
#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow:0 5px 30px rgba(0,0,0,.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
#popup.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: .5s;
}