*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #412d72;
}
.menu{
    display: flex;
    position: relative;
    width: 220px;
    height: 220px;
    justify-content: center;
    align-items: center;
}
.menu .toggle{
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 25px 15px rgba(0,0,0,0.25), 0 25px 20px rgba(0,0,0,0.1);
    color: #fff;
    font-size: 3em;
    z-index: 10;
    backdrop-filter: blur(10px);
}
.menu .toggle ion-icon{
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.menu .toggle ion-icon:nth-child(1){
    opacity: 1;
    transform: rotate(360deg);
}
.menu.active .toggle ion-icon:nth-child(1){
    opacity: 0;
    transform: rotate(0deg);
}
.menu.active .toggle ion-icon:nth-child(2){
    opacity: 1;
    transform: rotate(360deg);
}
.menu li{
    list-style: none;
    position: absolute;
    left: 0;
    transform-origin: 110px;
    transform: rotate(calc(360deg / 4 * var(--i)));
    transition: 0.5s;
    scale: 0;
    z-index: 1;
    transition-delay: calc(0.05s * var(--i));
    overflow: hidden;
    border-radius: 50%;
}
.menu li::before{
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 20px;
    height: 100%;
    background: #fff;
    transform: skewX(325deg) translateX(0);
    z-index: 10;
    box-shadow: -5px 0 0 #fff5;
    transition: 0.5s;
}
.menu li:hover::before{
    transform: skewX(325deg) translateX(180px);
}
.menu.active li{
    scale: 1;
}
.menu li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: var(--clr);
    border-radius: 50%;
    font-size: 2.25em;
    transform: rotate(calc(-360deg / 4 * var(--i)));
    transition: 0.5s;
    color: #fff;
    font-size: 2.25em;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
}