@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161616;
}
.container{
    position: relative;
    display: flex;
    gap: 30px;
}
.container .box{
    position: relative;
    width: 240px;
    padding: 40px 0;
    background: #222;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.container .box .circle{
    position: relative;
    width: 150px;
    height: 150px;
    background: conic-gradient(from 0deg, var(--clr) 0%, var(--clr) 0% var(--i), #333 var(--i), #333 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box .circle::before{
    content: '';
    position: absolute;
    inset: 10px;
    background: #252525;
    border-radius: 50%;
}
.container .box h2{
    position: relative;
    font-size: 2.5em;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.container .box h2 small{
    font-size: 0.5em;
    font-weight: 300;
}
.container .box h3{
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-top: 20px;
}