@import url("https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #161616;
}
ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px 60px;
	background: #242424;
	border-radius: 30px;
}
ul li{
	list-style: none;
}
ul li a{
	position: relative;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	z-index: 10;
	color: #4444;
}
ul li a ion-icon{
	font-size: 2.5em;
	transition: 0.5s;
}
ul li:hover a ion-icon{
	color: #c7f80d;
	filter: drop-shadow(0 0 15px #c7f80d);
}
ul li.active a ion-icon{
	color: #c7f80d;
	filter: drop-shadow(0 0 15px #c7f80d);
	transform: translateY(-50px);
}