@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    font-weight: 800;
    color: rgba(255,255,255,0.1);
    background: #333;
    text-transform: uppercase;
}
section:nth-child(even){
    background: #444;
}
header{
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 60px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    filter:drop-shadow(0 15px 35px rgba(0,0,0,0.5));
}
header nav{
    display: flex;
    width: 350px;
}
header nav a{
    position: relative;
    width: 70px;
    height: 60px;
    list-style: none;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s;
}
header nav a .icon{
    position: relative;
    line-height: 65px;
    display: block;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #666;
}
header nav a.active .icon{
    transform: translateY(-32px);
    color: var(--clr);
}
header nav a .text{
    position: absolute;
    padding: 2px 7px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    color: #fff;
    transform: translateY(15px);
}
header nav a.active .text{
    transform: translateY(-4px);
    background: var(--clr);
}