@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background: #acbaca;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock{
    position: relative;
    width: 450px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c9d5e0;
    border-radius: 50px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    box-shadow: 45px 45px 45px -15px rgba(0,0,0,0.15), inset 15px 15px 18px rgba(255,255,255,0.55), -15px -15px 35px rgba(255,255,255,0.55), inset -2px -2px 15px rgba(0,0,0,0.2);
}
.numbers{
    position: absolute;
    width: 350px;
    height: 350px;
    top: 30px;
    background: #152b4e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 7px 22px #152b4a66, inset 7px 7px 7px rgba(255,255,255,0.55), -9px -9px 15px rgba(255,255,255,1);
}