@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --clr: #a12db5;
}
body {
  background: #222;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 600px;
  height: 400px;
}
.tabs {
  position: relative;
  width: 80px;
  padding: 40px 0;
}
.tabs input {
  appearance: none;
  display: none;
}
.tabs .icon {
  position: relative;
  display: flex;
  flex-direction: column;
}
.tabs .icon label {
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 2em;
  color: #fff;
  opacity: 0.25;
  line-height: 90px;
  transition: 0.5s;
  cursor: pointer;
  z-index: 2;
}
.tabs input:nth-child(1):checked ~ .icon label:nth-child(1),
.tabs input:nth-child(2):checked ~ .icon label:nth-child(2),
.tabs input:nth-child(3):checked ~ .icon label:nth-child(3),
.tabs input:nth-child(4):checked ~ .icon label:nth-child(4) {
  opacity: 1;
}
.indicator {
  position: absolute;
  width: 80px;
  height: 80px;
  background: var(--clr);
  z-index: 1;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: 0.5s;
}
.indicator::before{
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: 8px 8px 0 8px var(--clr);
}
