*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #222;
}
.loading{
    position: relative;
    display: flex;
}
.loading span{
    position: absolute;
    width: 5px;
    height: 40px;
    transform: rotate(calc(var(--i) * 18deg));
    transform-origin: 0 150px;
}
.loading span::before{
    content: '';
    position: absolute;
    inset: 0;
    background: #0f0;
}