@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
}
body {
  background: #acbaca;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.clock {
  position: relative;
  display: flex;
  gap: 20px;
}
.clock .digital {
  position: relative;
  width: 120px;
  height: 120px;
  background: #c9d5e0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 20px -10px rgba(0, 0, 0, 0.15),
    inset 15px 15px 10px rgba(255, 255, 255, 0.5),
    -15px -15px 35px rgba(255, 255, 255, 0.35),
    inset -1px -1px 10px rgba(0, 0, 0, 0.2);
}
.clock .digital .screen {
  position: absolute;
  inset: 20px;
  background: #152b4a;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 0 #152b4a66,
    inset 5px 5px 5px rgba(255, 255, 255, 0.35),
    -6px -6px 10px rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock .digital .screen::before {
  content: attr(data-text);
  position: absolute;
  bottom: -21px;
  left: 50%;
  transform: translateX(-50%) scale(0.75);
  letter-spacing: 0.1em;
  color: #333;
  text-transform: uppercase;
}
.clock .digital .time {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock .digital .time div {
  position: relative;
  font-size: 2.9em;
  color: var(--clr);
  letter-spacing: 0.1em;
  margin-left: 0.1em;
}
.clock .digital:nth-child(3) .time div{
  color:transparent;
  -webkit-text-stroke: 2px var(--clr);
}
.clock .digital:last-child::before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: #152b4a;
  border-radius: 50%;
  border: 2px solid #fff;
  z-index: 100;
}
.clock .digital:last-child::after{
  content:'';
  position: absolute;
  inset: 20px;
  background: #152b4a;
  border-radius: 50%;
  box-shadow: 5px 5px 15px 0 #152b4a66, inset 5px 5px 5px rgba(255, 255, 255, 0.35), -6px -6px 10px rgba(255, 255, 255, 1);
}
#ampm{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.75);
  letter-spacing: 0.1em;
  color: #333;
}