*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	background: #222;
	min-height: 100vh;
}
.container{
	position: relative;
	display: grid;
	width: 600px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 150px 150px 150px 150px;
}
.container .img1{
	grid-area: img1;
}
.container .img2{
	grid-area: img2;
}
.container .img3{
	grid-area: img3;
}
.container .img4{
	grid-area: img4;
}
.container .img5{
	grid-area: img5;
}
.container .img6{
	grid-area: img6;
}