*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    overflow: hidden;
}
.bg{
    position: absolute;
    width: 200vw;
    height: 200vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg span{
    position: absolute;
    width: 500px;
    height: 150vh;
    background: #f00;
    border: 2px solid #fff;
    transform: translate(-50%, -50%) rotate(calc(30deg * var(--i)));
    transform-origin: bottom right;
}