@import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'poppins';
}
body{
    padding: 10px;
}
.wrapper{
    margin: 100px auto;
    max-width: 1100px;
}
.wrapper nav{
    display: flex;
    justify-content: center;
}
nav .items{
    display: flex;
    max-width: 720px;
    width: 100%;
    justify-content: space-between;
}
.gallery .image.hide{
    display: none;
}
.gallery .image.show{
    /*display: block;*/
    animation: animate 0.4s ease;
}
.preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.9);
    max-width: 700px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background: #fff;
    width: 100%;
    height: 500px;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
}
.preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
    transition: all 0.3s ease;
}
.preview-box .image-box{
    position: relative;
    display: flex;
    width: 100%;
    height: 90%;
}
.preview-box .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 15px 13px 10px;
}
.preview-box .details .title{
    display: flex;
    font-weight: 400;
    font-size: 18px;
}
.preview-box .details .title p{
    margin-left: 5px;
    font-weight: 700;
}
.preview-box .details .icon{
    font-size: 22px;
    color: #007bff;
    cursor: pointer;
}
.preview-box .image-box img{
    border-radius: 0 0 3px 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes animate{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1.0);
    }
}
nav .items .item{
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}
nav .items .active,nav .items .item:hover{
    background: #007bff;
    color: #fff;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.gallery .image{
    position: relative;
    width: calc((100% / 4) - 20px);
    height: 300px;
    margin: 5px;
}
.gallery .image span{
    display: flex;
    width: 100%;
}
.gallery .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    transition: all 0.3s ease;
}
.gallery .image:hover img{
    transform: scale(1.1);
}
.shadow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 2;
    display: none;
}
.shadow.show{
    display: block;
}
@media(max-width: 1000px){
    .gallery .image{
      width: calc((100% / 3) - 20px);
    }
}
@media(max-width: 800px){
    .gallery .image{
      width: calc((100% / 2) - 20px);
    }
}
@media(max-width: 700px){
    nav .items{
        max-width: 600px;
    }
    nav .items .item{
        margin: 7px 15px;
    }
}
@media(max-width: 700px){
    nav .items{
        flex-wrap: wrap;
        justify-content: center;
    }
    nav .items .item{
        margin: 5px;
    }
    .gallery .image{
      width: 100%;
    }
}