 @import url('https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'poppins';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    flex-direction: column;
}
.container{
    position: relative;
    margin-top: 200px;
    max-width: 800px;
    color: #fff;
    transform: skewY(-20deg);
}
.container .imgBx{
    position: relative;
    width: 100%;
    height: 180px;
    transform-origin: bottom;
    transform:skewX(45deg);
}
.container .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(1);
    width: 100%;
    height: 180px;
    transition: .5s;
}
.container .imgBx:hover img:nth-child(3){
   transform: translate(100px,-100px); 
}
.container .imgBx:hover img:nth-child(2){
    transform: translate(50px,-50px); 
    opacity: .5;
 }
.container .imgBx:hover img:nth-child(1){
    transform: translate(0px,-0px); 
    opacity: .1;
}
.container h2{
    position: relative;
    font-size: 4em;
} 
.container .skew{
    transform-origin: top;
    transform: skewX(45deg);
}
.container .skew p{
    font-size: 1.2em;
}
.container .skew a{
    position: relative;
    padding: 10px 30px;
    display: inline-block;
    background: transparent;
    transform-origin: top;
    margin-top: 20px;
    border: 2px solid #fff;
    transform: skewX(-45deg);
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
    font-size: 20px;
    transition: .5s;
}
.container .skew a:hover{
    background: #fff;
    color: #000;
}