@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #222;
}
.container input{
   appearance: none;
}
.container .dots{
    position: absolute;
    bottom: 70px;
    z-index: 100;
    display: flex;
    gap: 6px;
}
.container .dots label{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    border: 2px solid #222;
    transition: 0.5s;
}
.container input:nth-child(1):checked ~ .dots label:nth-child(1),
.container input:nth-child(2):checked ~ .dots label:nth-child(2),
.container input:nth-child(3):checked ~ .dots label:nth-child(3),
.container input:nth-child(4):checked ~ .dots label:nth-child(4),
.container input:nth-child(5):checked ~ .dots label:nth-child(5){
    opacity: 1;
}
.container .slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.container .slider .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--img);
    background-size: cover;
    clip-path: circle(0% at 0% 50%);
    transition: 1.5s;
    transition-delay: 0s;
    background-position: left;
}
.container .slider .slide:nth-child(even){
    clip-path: circle(0% at 100% 50%);
    background-position: right;
}
.container input:nth-child(1):checked ~ .slider .slide:nth-child(1),
.container input:nth-child(2):checked ~ .slider .slide:nth-child(2),
.container input:nth-child(3):checked ~ .slider .slide:nth-child(3),
.container input:nth-child(4):checked ~ .slider .slide:nth-child(4),
.container input:nth-child(5):checked ~ .slider .slide:nth-child(5){
    clip-path: circle(150% at 50% 50%);
    transition-delay: 1s;
    background-position: center;
}