body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #0072ff,#ff0058); 
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 100vh solid transparent;
    border-left: 100vh solid #fff;
    opacity: 0.1;
}
section::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 100vh solid transparent;
    border-right: 100vh solid #fff;
    opacity: 0.1;
}
div{
  position: absolute;
  background: #fff;
  transform-style: preserve-3d;  
  animation: animate linear infinite;
}
div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
}
div::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #e2e2e2;
    transform: rotateY(90deg);
}
div:nth-child(1){
    left: 100px;
    width: 150px;
    height: 100px;
    animation-duration: 15s;
}
div:nth-child(2){
    left: 300px;
    width: 80px;
    height: 60px;
    animation-duration: 10s;
}
div:nth-child(4){
    left: 20px;
    width: 40px;
    height: 30px;
    animation-duration: 5s;
}
div:nth-child(3){
    left: 500px;
    width: 200px;
    height: 150px;
    animation-duration: 20s;
}
div:nth-child(6){
    right: 220px;
    width: 120px;
    height: 90px;
    animation-duration: 5s;
}
div:nth-child(5){
    right: 100px;
    width: 90px;
    height: 60px;
    animation-duration: 8s;
}
div:nth-child(7){
    right: 450px;
    width: 70px;
    height: 52.5px;
    animation-duration: 12s;
}
div:nth-child(8){
    left: 350px;
    width: 40px;
    height: 30px;
    animation-duration: 5s;
}
@keyframes animate {
    0%{
        transform: rotateY(0deg)translateY(110vh);
    }
    100%{
        transform: rotateY(360deg)translateY(-20vh);
    }
}