*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg: #222;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg);
}
.box{
    position: relative;
    width: 300px;
    height: 300px;
}
.box .one{
    background: url(img2.jpg);
    background-size: cover;
}
.box .two{
    background: url(img3.jpg);
    background-size: cover;
}
.box::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 750px;
}