*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
	overflow: hidden;
}
#container{
	display: grid;
	grid-template-columns: repeat(15, 100px);
	grid-gap: 4px;
}
#container span{
	position: relative;
	width: 100px;
	height: 100px;
	background: #111;
	z-index: 10;
}