* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: consolas;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300vh;
  background: #222;
}
section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
}
section .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Vivivian.png);
    background-size: cover;
}
section .slide#slide1{
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}
section .slide#slide2{
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
}
h2 {
  position: absolute;
  color: #fff;
  font-size: 2em;
}
