* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: consolas;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300vh;
  background: #222;
}
section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
}
h2 {
  position: absolute;
  color: #fff;
  font-size: 2em;
}
