@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background: #25252b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box form{
    width: 100%;
    padding:0 40px;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.box form h2{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}
.box form input{
    position: relative;
    width: 85%;
    background: rgba(255,255,255,0.1);
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.05em;
}
.box form input::placeholder{
    color: rgba(255,255,255,0.5);
}
.box form input[type="submit"]{
    color: #fff;
    cursor: pointer;
    background: #25252b;
    font-weight: 500;
    transition: 0.5s;
}
.box form input[type="submit"]:hover{
    background: #ff2770;
}