@import url("https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif, "poppins";
}
:root {
  --clr: #fff;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--clr);
}
.navigation {
  width: 420px;
  height: 70px;
  background: #209cff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}
.navigation ul {
  position: relative;
  display: flex;
  width: 350px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
  transition: 0.55s;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  font-size: 1.5em;
  color: #fff;
  line-height: 75px;
  opacity: 0.75;
}
.navigation ul li:hover a .icon,
.navigation ul li.active a .icon {
  opacity: 1;
  color: #209cff;
}
.indicator {
  position: absolute;
  top: -10px;
  width: 70px;
  height: 70px;
  background: var(--clr);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  cursor: pointer;
  transition: 0.5s;
}
