@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}
.container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    position: absolute;
    inset: 80px 200px 80px 80px;
    background: #000;
    border-radius: 20px;
}
.slider .slides{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 240px;
    height: 320px;
    background: var(--img);
    background-size: cover;
    background-position: center;
    transition: 0.5s;
    border-radius: 20px;
}