*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #042104;
    filter: hue-rotate(70deg);
}
.loader{
    position: relative;
}
.loader span{
    position: absolute;
    top: 0;
    left: -200px;
    width: 200px;
    height: 2px;
    background: #fff;
    transform-origin: right;
    transform: rotate(calc(18deg * var(--i)));
    animation: animate 1s linear infinite;
}