@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    background: #081b29;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #0ef;
    box-shadow: 0 0 25px #0ef;
    overflow: hidden;
}
.wrapper .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
}
.wrapper .form-box.login{
    left: 0;
    padding: 0 60px 0 40px;
    display: none; 
}
.form-box h2{
    font-size: 32px;
    color: #fff;
    text-align: center;
}
.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}
.form-box .input-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    color: #fff;
    background: transparent;
    border-bottom: 2px solid #fff;
    transition: 0.5s;
    font-weight: 500;
    padding-right: 23px;
}
.form-box .input-box input:focus,
.form-box .input-box input:valid{
    border-color: #0ef;
}
.form-box .input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}
.form-box .input-box input:focus ~ label,
.form-box .input-box input:valid ~ label{
    top: -5px;
    color: #0ef;
}
.form-box i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    transition: 0.5s;
}
.form-box .input-box input:focus ~ i,
.form-box .input-box input:valid ~ i{
    color: #0ef;
}
.btn{
    width: 100%;
    height: 45px;
    position: relative;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
}
.btn::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#081b29,#0ef,#081b29,#0ef);
    transition: 0.5s;
    z-index: -1;
}
.btn:hover::before{
    top: 0%;
}
.form-box .logreg-link{
    text-align: center;
    margin: 20px 0 10px;
    color: #fff;
    font-size: 15px;
}
.form-box .logreg-link a{
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
}
.form-box .logreg-link a:hover{
    text-decoration: underline;
}
.wrapper .info-text{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.wrapper .info-text.login{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
    display: none;
}
.wrapper .info-text h2{
    font-size: 36px;
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;
}
.wrapper .info-text p{
    font-size: 16px;
    color: #fff;
}
.bg-animate{
    position: absolute;
    top: -4px;
    left:0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg, #081b29,#0ef);
    border-bottom: 3px solid #0ef;
    /* transform: rotate(10deg) skewY(40deg); */
    transform: rotate(0deg) skewY(0deg);
    transform-origin: bottom right;
}